body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    padding: 5px 10px;
    flex: none;
}
/*Text styling for header section*/

.logo a,
.header-subhead {
    color: #f9faf8;
    font-weight: 800;
}

.logo a {
    font-size: 24px;
}

.header-subhead {
    font-size: 48px;
}

.header-right a,
.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

/*Layout styling for header section*/

.header {
    background-color: #1f2937;
    padding: 15px 300px;
}

/*Layout for top section of header*/

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.header-right {
    display: flex;
    gap: 16px;
}

/*Layout for content section of header*/

.header-content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 100px;
    gap: 60px;
}

.left-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-content button {
    margin: auto;
    margin-left: 0;
    border-radius: 8px;
    padding: 8px 26px;
    font-weight: 800;
    font-size: 18px;
    border: none;
}

.header-image {
    display: flex;
    flex: auto;
}

.header-content img {
    width: 650px;
    display: flex;
    align-items: center;
}

/* Info section layout*/

.info-section {
    padding: 35px 300px;
}

.image {
    height: 225px;
    width: 200px;
    border-radius: 10px;
    border: 5px solid #3882f6;
}

#info-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin-bottom: 50px;
}

.info-blocks {
    display: flex;
    padding: 0px 80px;
    gap: 50px;
    margin-bottom: 90px;
}

.info-blocks div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
    gap: 10px;
}

/* Quote section layout */

.quote-section {
    padding: 150px 450px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    margin-bottom: 10px;
}

.quote-author {
    font-weight: 800;
    font-size: 24px;
    padding: 0px 60px;
    align-self: flex-end;
}

/* Action section layout */

.action-section {
    padding: 100px 300px;
}

.action-container {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 50px 75px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-title {
    font-size: 24px;
    font-weight: 800;
}

.action-text .action-subtext, {
    color: #e5e7eb;
    font-size: 18px;
}

.action-container button {
    border-radius: 8px;
    padding: 8px 26px;
    font-weight: 800;
    font-size: 18px;
    border: 3px solid #f9faf8;
}

.action-container button a {
    color: #f9faf8
}